@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	
}

main{
	width: 100%;
	height: 700px;
	margin-left: auto;
	margin-right: auto;
}

header{
	width: 100%;
	height: 135px;
	background-color: rgba(255, 255, 255, 1);
}

nav{
	width: 100%;
	height: 8px;
	background-color: rgba(191, 72, 67, 1);

}

section{
	width: 100%;
	height: 569px;
}

footer{
	width: 100%;
	height: 50px;
	background-color: rgba(191, 72, 67, 1);
	font-size: 	0.750em;
}

#nombre{
	width: 30%;
	margin-left: 2%;
	float: left;
	color: rgba(255, 255, 255, 1);;
	margin-top: 1.2%;
	font-family: 'Quicksand', sans-serif;
}

#logo{
	float: left;
	margin-left: 2%;
	margin-top: 2%;
}

#botonera{
	padding: 1%;
	font-family: 'Quicksand', sans-serif; font-variant: bold;
}

#botonera li {
	display: inline
}

#botonera li a {
	font-size: 1.125em;
	margin-top: 2.5%;
	text-decoration: none;
	padding: 1.1%;
	margin-right: 1%;
	color: rgba(29, 29, 27, 1);
	float: right;
}

.botoncolor{
	text-decoration: none;
    padding: 1%;
    background-color: rgba(255, 255, 255, 1);
    color: rgba(0, 0, 0, 1);
  }
  .botoncolor:hover{
    color: rgba(0, 0, 0, 1);
    background-color: rgba(191, 72, 67, 1);
  }

#texto{
	padding: 3%;
	width: 50%;
	height: 50%;
	text-align: center;
	padding-top: 4%;
	float: left;
	font-size: 1.125em;
    background-color: rgba(255, 255, 255, 1);
    font-family: 'Quicksand', sans-serif;
    background-color: rgba(255, 255, 255, 1);
}

#titulo{
	font-size: 1.313em;
	font-family: 'Quicksand', sans-serif;
}

#subtitulo{
	font-family: 'Pacifico', cursive;
	font-size: 1.438em;
	color: rgba(191, 72, 67, 1);
}

#subtitulo2{
	font-family: 'Pacifico', cursive;
	font-size: 	0.875em;
	color: rgba(191, 72, 67, 1);
}

.frasecolor{
	color: rgba(191, 72, 67, 1);
}

#fotonosotros{
	float: right;
	background: url(../img/fotonosotros.png);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
    background-size: cover;
	width: 50%;
	height: 50%;
	background-color: rgba(255, 255, 255, 1);
}

#fotonosotros2{
	background: url(../img/fotonosotros2.png);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
    background-size: cover;
	width: 50%;
	height: 50%;
	background-color: rgba(255, 255, 255, 1);
	clear: both;
	float: left;
	margin-top: -38.3%;
}

#texto2{
	padding: 3%;
	width: 50%;
	height: 50%;
	text-align: center;
	float: right;
	font-size: 1.125em;
    background-color: rgba(255, 255, 255, 1);
    font-family: 'Quicksand', sans-serif;
    background-color: rgba(255, 255, 255, 1);
}

#texto3{
	padding: 3%;
	width: 50%;
	height: 18.6%;
	text-align: center;
	clear: both;
	float: right;
	margin-top: -0.2%;
	font-size: 1.125em;
    font-family: 'Quicksand', sans-serif;
    background-color: rgba(255, 255, 255, 1);
}

#texto4{
	padding: 3%;
	width: 50%;
	height: 18.6%;
	text-align: center;
	padding-top: 4%;
	float: left;
	font-size: 1.125em;
    background-color: rgba(255, 255, 255, 1);
    font-family: 'Quicksand', sans-serif;
}

#texto5{
	padding: 3%;
	width: 50%;
	height: 18.4%;
	text-align: center;
	float: right;
	clear: both;
	margin-top: -0.3%;
	font-size: 1.125em;
    background-color: rgba(255, 255, 255, 1);
    font-family: 'Quicksand', sans-serif;
}

#texto6{
	width: 50%;
	text-align: center;
	padding-top: 4%;
	float: left;
	font-size: 1.125em;
    background-color: rgba(255, 255, 255, 1);
    font-family: 'Quicksand', sans-serif;
}

#texto7{
	padding: 3%;
	width: 50%;
	height: 11%;
	margin-top: 0.2%;
	text-align: center;
	padding-top: 2%;
	float: left;
	font-size: 1.125em;
    background-color: rgba(29, 29, 27, 1);
    font-family: 'Quicksand', sans-serif;
}

#texto12{
	padding: 3%;
	width: 100%;
	height: 20%;
	text-align: center;
	padding-top: 4%;
	float: left;
	font-size: 1.125em;
    background-color: rgba(29, 29, 27, 1);
    font-family: 'Quicksand', sans-serif;
}

#texto8{
	width: 50%;
	height: 100%;
	text-align: center;
	padding-top: 4%;
	float: left;
	font-size: 1.125em;
    background-color: #2d3436;
	background: url(../img/fondocontacto.png);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
    background-size: cover;
    font-family: 'Quicksand', sans-serif;
}

#texto9{
	padding: 3%;
	width: 50%;
	height: 18.6%;
	text-align: center;
	padding-top: 4%;
	float: left;
	font-size: 1.125em;
    background-color: rgba(255, 255, 255, 1);
    font-family: 'Quicksand', sans-serif;
}


#texto10{
	padding: 3%;
	width: 50%;
	height: 18%;
	text-align: center;
	padding-top: 3%;
	font-size: 1.125em;
    background-color: rgba(29, 29, 27, 1);
}

#texto11{
	float: right;
	padding: 3%;
	width: 50%;
	height: 18.3%;
	text-align: center;
	padding-top: 3%;
	font-size: 1.125em;
    background-color: rgba(29, 29, 27, 1);
    margin-top: -15%;
}

.nosotros{
	height: 140%;
}

#redes{
	margin-top: 0.7%;
	margin-right: 1%;
	float: right;
}

form{
	width: 100%;
	background-color: rgba(255, 255, 255, 1);
	padding: 4%;
}

.envio{
	width: 17%;
	height: 50px;
	background-color: rgba(191, 72, 67, 1);
	color: rgba(255, 255, 255, 1);
	font-size: 	1.063em;
}

.caja{
	width: 50%;
	height: 30px;
}

.caja2{
	width: 50%;
	height: 75px;
}

.contacto{
	height: 710px;
}

#tituloproductos{
	font-size: 	2.188em;
	text-align: center;
	padding-top: 3%;
	margin-left: auto;
	margin-right: auto;
	padding: 3%;
	background-color: rgba(255, 255, 255, 1);
	font-family: 'Quicksand', sans-serif;
}

#linea {
	width: 100%;
	height: 8px;
	background-color: rgba(191, 72, 67, 1);
}

#titulo2{
	font-size: 1.125em;
	color: rgba(191, 72, 67, 1);
}

.productos{
	height: 187%;
	background-color: rgba(29, 29, 27, 1);
}

.izquierda{
	float: left;
	margin-top: -19.1%;
	margin-left: 0.2%;
}

.blanco{
	color: rgba(255, 255, 255, 1);
	font-family: 'Quicksand', sans-serif;
}

.negro{
	color: rgba(255, 255, 255, 1);
}

#fondo{
	background: url(../img/fondoindex.png);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
    background-size: cover;
}

#fondopan{
	float: right;
	background-image: url(..img/img1.png)
	border-color: rgba(191, 72, 67, 1);
	width: 50%;
}

#fondomedialunas{
	background-image: url(..img/img1.png)
	border-color: rgba(191, 72, 67, 1);
	width: 50%;
	margin-top: 28.6%;

}

#fondotorta{
	float: right;
	clear: both;
	width: 50%;
	margin-top: -19%;
}

#fondoempanadas{
	float: left;
	width: 50%;
	margin-top: -0.7%;
}

.index{
	background-color: rgba(29, 29, 27, 1);
	height: 88%;
}

.slider{
	width: 100%;
	overflow: hidden;
}

.slider ul{
	width: 400%;
	display: flex;
	padding: 0;

	animation: cambio 20s infinite alternate linear;
}

.slider li{
	width: 100%;
	list-style: none;
}

.slider img{
	width: 100%;
}

@keyframes cambio{
	0% {margin-left: 0;}
	20% {margin-left: 0;}

	25% {margin-left: -100%;}
	45% {margin-left: -100%;}

	50% {margin-left: -200%;}
	70% {margin-left: -200%;}

	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}
















